<h1>Click a Department To View Products</h1>
<%= link_to 'Create a new department', new_department_path %>
<ul>
  <% @departments.each do |department| %>
    
    <li><%= link_to "#{department.department_name}", department_path(department) %></li>
  <% end %>
</ul>