<h1><%= @department.department_name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Products', department_products_path(@department) %>
<br />
<%= link_to 'Edit Department', edit_department_path(@department) %>
<br />
<%= link_to 'Delete Department', @department, method: :delete %>
